<ion-header>
  <ion-toolbar>
    <ion-title>Employee Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Employee No</ion-label>
    <ion-input type="number" required [(ngModel)]="employData.EmpNo" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input required [(ngModel)]="employData.Name" maxlength="20"></ion-input>
  </ion-item>

  <!-- <ion-item>
    <ion-label position="stacked">Phone</ion-label>
    <ion-input required [(ngModel)]="employData.PhoneNo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input required [(ngModel)]="employData.Email"></ion-input>
  </ion-item> -->

  <form [formGroup]="registrationForm">
    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input required inputmode="tel" placeholder="+xx-xxx-xxxxxx" formControlName="phone" [(ngModel)]="employData.PhoneNo" maxlength="15"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.phone">
      <ng-container *ngIf="phone.hasError(error.type) && (phone.dirty || phone.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
  
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input required inputmode="email" placeholder="ex: abc@xyz.com" formControlName="email" [(ngModel)]="employData.Email" maxlength="30"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.email">
      <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
    </form>

  <ion-list>
    <ion-radio-group required [(ngModel)]="employData.Gender">
      <ion-list-header>
        <ion-label>
          Gender
        </ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio value="Male" ></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio value="Female"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-item>
    <ion-label position="floating">Position</ion-label>
    <ion-input required [(ngModel)]="employData.Position" maxlength="20"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">DOB</ion-label>
    <!-- <ion-input required type="date" displayFormat="MM DD YYYY" [(ngModel)]="employData.DOB"></ion-input> -->
    <ion-datetime display-format="DD/MM/YYYY" id="dat" [(ngModel)]="employData.DOB"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Salary</ion-label>
    <ion-input required type="number" [(ngModel)]="employData.Salary"></ion-input>
  </ion-item>

  <div class="ion-text-center">
    <ion-button style="margin: 15px;" (click)="returnToHome()">Home</ion-button>
    <ion-button style="margin: 15px;" (click)="saveEmploy()">Save</ion-button>
    <ion-button style="margin: 15px;" (click)="deleteEmploy()">Delete</ion-button>
  </div>
</ion-content>
